div.card {
  margin-top: 1em;
  div.card-image {
    img {
      max-height: 30em;
    }
    .preview-columns {
      align-items: center;
      img {
        display: block;
        height: 20em;
        object-fit: contain;
        max-height: unset;
        width: 100%;
      }
      .divider-vert {
        flex: none;
        align-self: stretch;
        &::before {
          top: 0;
          bottom: 0;
          height: auto;
        }
      }
    }
  }
}

div.card-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.modal-container {
  max-height: 90vh !important;
}

div.input-group,
div.has-icon-right {
  flex: auto;
}
