[package]
name = "svg2gcode-web"
version = "0.0.2"
authors = ["Sameer Puri <crates@purisa.me>"]
edition = "2018"
description = "Convert vector graphics to g-code for pen plotters, laser engravers, and other CNC machines"
repository = "https://github.com/sameer/svg2gcode"
homepage = "https://sameer.github.io/svg2gcode/"
license = "MIT"

[dependencies]
wasm-bindgen = "0.2"
svg2gcode = { path = "../lib", features = ["serde"] }
roxmltree = "0"
g-code = "0"
codespan-reporting = "0.11"
codespan = "0.11"
serde = "1"
paste = "1"
log = "0"
svgtypes = "0"
serde_json = "1"

yew = { git = "https://github.com/yewstack/yew.git" }
yewdux-functional = { git = "https://github.com/intendednull/yewdux.git" }
yewdux-input = { git = "https://github.com/intendednull/yewdux.git" }
yewdux = { git = "https://github.com/intendednull/yewdux.git" }
web-sys = { version = "0.3", features = [] }
wasm-logger = "0.2"
gloo-file = { version = "0.1", features = ["futures"] }
gloo-timers = "0.1"
base64 = "0.13"
wasm-bindgen-futures = "0.4"
js-sys = "0.3"
